<div class="top">
    <div class="top-widget">

    </div>
</div>

<div class="middle">
    <div class="mid-widget">
        <div class="widget-areaChartFlow">
            <h2 style="font-size: 2rem;">Area Chart for Water Flow values</h2>
            <canvas id="areaFlow" #areaChartFlow></canvas>
        </div>
        <div class="widget-areaChartpH">
            <h2 style="font-size: 2rem;">Area Chart for pH values</h2>
            <canvas id="areapH" #areaChartpH></canvas>
        </div>
    </div>
</div>
<div class="bottom">

</div>