<div class="nav-items">
    <div class="nav-item">
        <span>
            <nav>
                <a routerLink=""><i class="bi bi-house"></i> Home</a>
            </nav>
        </span>
    </div>
    <div class="nav-item">
        <span>
            <nav>
                <a routerLink="/user"><i class="bi bi-people"></i> Users</a>
            </nav>
        </span>
    </div>
    <div class="nav-item">
        <span>
            <nav>
                <a routerLink="/device"><i class="bi bi-motherboard"></i> Device</a>
            </nav>
        </span>
    </div>

    <div class="nav-item">
        <span>
            <nav>
                <a routerLink="/data"><i class="bi bi-clipboard-data"></i> Sensor Data</a>
            </nav>
        </span>
    </div>
    
    <div class="nav-item">
        <span>
            <nav>
                <a routerLink="/alarm"><i class="bi bi-bell"></i> Alarm</a>
            </nav>
        </span>

    </div>
</div>